.background-container {
    background-image: url('../Img/background.jpg');
    background-size: cover;
    background-position: center;
  }
  
  .relative {
    position: relative;
  }
  
  .bg-white {
    background-color: white;
  }
  

  